# ---------------------------
# Python virtual environment
# ---------------------------
myenv/

# ---------------------------
# Python cache / compiled files
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store

*.log
*.pem
*.key
*.pub
"ssh-keygen -t ed25519 -C \"your@email.com\""
"ssh-keygen -t ed25519 -C \"your@email.com\".pub"
.ipynb_checkpoints/
*.swp
.env